@media only screen and (min-width: 300px) and (max-width: 768px) {
    .source {
        font-size: 8pt;
    }
    img {
        width: 300px;
    }
    .me-img {
        width: 200px !important;
    }
    h1 {
        font-size: 18pt;
    }
    h2 {
        font-size: 15pt;
    }
    h3 {
        font-size: 13pt;
    }
    .vaccine-text p {
        font-size: 10pt;
    }
    footer {
        font-size: 9pt;
    }

    div#testimonies {
        position: relative;
        width: 250px;
        margin: auto;
    }

    #testimonies .testimony-msg {
        font-family: var(--font-tillana);
        font-weight: 600;
        font-size: 11pt;
        text-align: center;
    }
    #testimonies .testimony-item-prev .testimony-item-prev-btn, #testimonies .testimony-item-next .testimony-item-next-btn {
        width: 15px;
        height: 15px;
    }

    #testimonies .testimony-quote .material-symbols-outlined {
        font-size: 1.5rem;
        color: #c7c7c7;
    }
}